1_introduction_to_microbit/micropython_programs.py


4_remote_controls/Icon


5_robot_design/old
5_robot_design/SummerBuggyWithTwoMicrobits_model4
5_robot_design/2020-07-02 15.29.14.jpg
5_robot_design/2020-07-02 15.29.20.jpg

5_robot_design/5_ex_1_obstacle_avoidance_microbit_1_vision_test_1.py
5_robot_design/5_ex_1_obstacle_avoidance_microbit_1_vision_test_2.py
5_robot_design/5_ex_1_obstacle_avoidance_microbit_1_vision_test_3.py
5_robot_design/5_ex_1_obstacle_avoidance_microbit_2_motor_control_test_1.py
5_robot_design/5_ex_1_obstacle_avoidance_microbit_2_motor_control_test_2.py
5_robot_design/5_ex_1_obstacle_avoidance_microbit_2_motor_control_test_3.py

5_robot_design/5_ex_2_slam_microbit_1_vision.py
5_robot_design/5_ex_2_slam_microbit_2_motor_control_debug.py
5_robot_design/5_ex_2_slam_microbit_2_motor_control_minified.py
5_robot_design/5_ex_2_slam_microbit_2_motor_control.py

5_robot_design/Icon


__MicroPythonPluginForPyCharm_PyCharmSetup_and_HowToProgramMicrobitsWithPyCharm


Others


Icon


mobileroboticsschool.github.io_v1.pdf